# data dir which contains the original csv file and generated per-country csvs
data/

# logs dir and files
logs/
*.log

# build artifcats
**.egg-info

# all __pycache__ directories
src/**/__pycache__/
**/__pycache__/

# notes that dont need to be committed
docs/dev/tests-refactor.md

# jupyter notebook checkpoints
notebooks/.ipynb_checkpoints
